<div class="container">

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-7">
      <h4 class="all_question"><%= @title %></h4>
      <hr>
    </div>
    <div class="col-sm-4">
    </div>
  </div>

  <% questions.each do |question| %>
  <div class="row">

    <div class="col-sm-1">
    </div>

    <div class="col-sm-1">
      <div class="top_vote_count">
        <p><%= question.votes.count %></p>
        <p>票</p>
      </div>
      <hr>
    </div>

    <div class="col-sm-1">
      <% val = "color:white;background:green;" if question.answers.count > 0 %>
      <div class="top_answer_count" style = "<%=val%>">
        <p><%= question.answers.count %></p>
        <p>回答</p>

      </div>
      <hr>
    </div>

    <div class="col-sm-5">
      <h4 class="main"><%= link_to question.title , question %></h4>
      <p><%= render 'questions/tag_list', tag_list: question.tag_list %>
        <span class="top_user1">質問日時: <%= question.created_at %>
          <%= link_to question.user.name ,question.user %></span>
        </p>
        <hr>
      </div>

      <div class="col-sm-3">
      </div>

      <div class="col-sm-１">
      </div>

    </div>
    <% end %>
  </div>
