<ul class="nav nav-pills">
  <li role="presentation" class="active"><%=link_to "Home", root_path %></li>
  <li role="presentation"><%=link_to "質問一覧", questions_path %></li>
  <li role="presentation"><%=link_to "質問する", new_question_path %></li>
  <li role="presentation"><%=link_to "ユーザ情報", edit_user_registration_path %></li>
  <li role="presentation"><%=link_to "Login", new_user_session_path %></li>
  <li role="presentation"><%=link_to "Logout", destroy_user_session_path, method: :delete %></li>
</ul>
