<div class="row top_header">
    <%= link_to image_tag('logo02.png'), root_path %>
    <ul class="top">
      <li><%= link_to '質問', questions_path %></li>
      <li><%= link_to 'タグ', tags_path %></li>
      <li><%= link_to 'ユーザ', users_path %></li>
      <li><%= link_to 'バッジ', "#" %></li>
      <li><%= link_to '未回答', "#" %></li>
      <li><%= link_to '質問する', new_question_path %></li>
      <% if user_signed_in? %>
      <li><%=link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
</div>
